

<!-- <h1>Pinmazing is so amazing I cannot believe it</h1>
<p>I will finish this coderletics tutorial and then my page will look like
<a href="www.pinmazing.com">pinmazing.com</a></p>

<p>What's the time? <%= Time.now %><p>
<p>What's the date? <%= Time.now.strftime("%m/%d/%Y") %><p> -->

<div class="panel center">
	<h3>Join the fun and upload new Pins?</h3>
	<p>
       <%= link_to "Log in", "", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "", class: "btn btn-primary btn-lg" %>
  </p>
</div>